<!--
<ng-container *ngIf="!isAdminRoute">
  <app-header></app-header>
</ng-container>

<main [ngClass]="{'main-content': !isAdminRoute, 'admin-content': isAdminRoute}">
  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="!isAdminRoute">
  <app-footer></app-footer>
</ng-container>
-->
<div>
  <h1>Welcome to the Quiz App!</h1>
  <nav>
    <a routerLink="/">Home</a> |
    <a routerLink="/add-quiz">Add Quiz</a>|
    <a routerLink="/quiz-list">quiz-list</a>

  </nav>

  <router-outlet></router-outlet>
</div>
