<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a routerLink="/" class="logo d-flex align-items-center">
      <h1 class="sitename">Online-Trainings <span>Platform</span></h1>
    </a>

    <nav id="navmenu" class="navmenu" [class.mobile-nav-active]="isMenuOpen">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/trainings" routerLinkActive="active">Trainings</a></li>
        <li><a routerLink="/evaluation" routerLinkActive="active">Evaluation</a></li>
        <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
        <li><a routerLink="/annonces/front" routerLinkActive="active">Ads</a></li>
        <li><a routerLink="/feedbacks" routerLinkActive="active">Feedback</a></li>
        <li><a routerLink="/forum" routerLinkActive="active">Discussion Forum</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMenu()"></i>
    </nav>
  </div>
</header>
